<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hulahoopblue.blue.model.dao.MemberDAO">

    <resultMap id="memberResultMap" type="com.hulahoopblue.blue.model.dto.MemberDTO">
        <id property="memberNum" column="member_num"/>
        <result property="id" column="id"/>
        <result property="pw" column="pw"/>
        <result property="email" column="email"/>
        <result property="nm" column="nm"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="address" column="address"/>
        <result property="msgNotiStatus" column="msg_noti_status"/>

    </resultMap>

        <select id="findAllMember" resultMap="memberResultMap">
            select
                 member_num
               , id
               , pw
               , email
               , nm
               , phone_num
               , address
               , msg_noti_status

            from t_member
        </select>

        <insert id="insertNewMember" parameterType="com.hulahoopblue.blue.model.dto.MemberDTO">
            insert into t_member
            (
            member_num
          , id
          , pw
          , email
          , nm
          , phone_num
          , address
          , msg_noti_status
          )
            select
            CONCAT('U', LPAD(SUBSTR(MAX(member_num), 2, 9) + 1, 9, '0'))
            , #{ id }
            , #{ pw }
            , #{ email }
            , #{ nm }
            , #{ phoneNum }
            , #{ address }
            , #{ msgNotiStatus }
            from t_member
            where member_num LIKE 'U%'
        </insert>

        <update id="updateNewMember" parameterType="com.hulahoopblue.blue.model.dto.MemberDTO">
            update t_member
            set
              id = #{ id }
            , email = #{ email }
            , nm = #{ nm }
            , phone_num = #{ phoneNum }
            , address = #{ address }
            , msg_noti_status = #{ msgNotiStatus }

            where member_num = #{ memberNum }
        </update>

        <delete id="deleteNewMember" parameterType="com.hulahoopblue.blue.model.dto.MemberDTO">
            delete
            from t_member
            where member_num = #{ memberNum }
        </delete>

    <insert id="insertMember" parameterType="com.hulahoopblue.blue.model.dto.MemberDTO">
        INSERT INTO t_member(username, password, email)
        VALUES(#{username}, #{password}, #{email})
    </insert>


    <!-- 로그인용 조회 -->
    <select id="selectMemberById" parameterType="string" resultMap="memberResultMap">
        SELECT member_num, id, pw, email, nm, phone_num, address, msg_noti_status, user_typ
        FROM t_member
        WHERE id = #{id}
    </select>

    <!-- ✅ 아이디 중복 확인 -->
    <select id="countById" resultType="int">
        SELECT COUNT(*) FROM t_member WHERE id = #{id}
    </select>


</mapper>