<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hulahoopblue.green.member.model.dao.MemberMapper">

    <select id="selectMemberById" parameterType="string" resultType="com.hulahoopblue.green.member.model.dto.MemberDTO">
        SELECT
            member_num,
            id,
            pw,
            email,
            nm,
            phone_num AS phoneNum,
            address,
            msg_noti_status,
            user_typ AS userTyp,
            merchant_num AS merchantNum  FROM t_member
        WHERE id = #{id}
    </select>

    <select id="selectAllMembers" resultType="com.hulahoopblue.green.member.model.dto.MemberDTO">
        SELECT
            member_num,
            id,
            nm,
            phone_num AS phoneNum,
            email,
            address,
            user_typ AS userTyp,
            merchant_num AS merchantNum  FROM t_member
    </select>

    <select id="selectMembersByCriteria" resultType="com.hulahoopblue.green.member.model.dto.MemberDTO">
        SELECT
        member_num,
        id,
        nm,
        phone_num AS phoneNum,
        email,
        address,
        user_typ AS userTyp,
        merchant_num AS merchantNum  FROM t_member
        <where>
            <if test="userTyp != null and userTyp != ''">
                AND user_typ = #{userTyp}
            </if>
            <if test="merchantNum != null and merchantNum != ''">
                AND merchant_num = #{merchantNum}
            </if>
            <if test="searchText != null and searchText != ''">
                AND (
                id LIKE CONCAT('%', #{searchText}, '%') OR
                nm LIKE CONCAT('%', #{searchText}, '%') OR
                email LIKE CONCAT('%', #{searchText}, '%') OR
                phone_num LIKE CONCAT('%', #{searchText}, '%')
                )
            </if>
        </where>
    </select>

    <select id="selectMerchantList" resultType="com.hulahoopblue.green.merchant.model.dto.MerchantDTO">
        SELECT
            merchant_num,
            merchant_nm
        FROM t_merchant
        ORDER BY merchant_nm
    </select>

    <select id="selectCategoryList" resultType="Integer">
        SELECT DISTINCT user_typ
        FROM t_member
        ORDER BY user_typ
    </select>

</mapper>